body{
	width: 100vw;
	height: 100vh;
	display: flex;
	text-align: start;
	justify-content: flex-start;
	align-items: start;	
}

.icon{
	display: flex;
	position: inherit;
    margin-top: 3.5em;
	margin-left: 2em;
	color: black;
}

.todo{
	display: flex;
	justify-content: center;
	text-align: center;
}



.task{
	width: 30em;
	height: 20em;
	margin-top: 10em;
	background: #ccffff;
	margin-left: -4em;
}

label{
	display: block;
	float: left;
	margin: 0.4em;
}


.aside{
	width: 20vw;
	height: 100vh;
	background-color: #008080;
}